*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.App {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .App {
        width: 90%;
    }
}
